# Create a .env.development and a .env.production file
# with the following keys.
# Do NOT check these files into source control
CONTENTSTACK_API_KEY=''
CONTENTSTACK_DELIVERY_TOKEN=''
CONTENTSTACK_ENVIRONMENT=''
CONTENTSTACK_CDN=''
